<div class="data-wrapper container-fluid">
    <div class="row">
        <div class="col-12">
            <span>Filter</span>
            <input type="text" placeholder="filter..." [(ngModel)]="filterBy" (keyup)="applyFilter()">
            <button mat-stroked-button color="primary" (click)="openTrainee()">Add</button>
            <button mat-stroked-button color="primary" [disabled]="!gridChecked" (click)="removeTrainee()">Remove</button>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="studentId">
                    <th mat-header-cell *matHeaderCellDef> studentId </th>
                    <td mat-cell *matCellDef="let element"> {{element.studentId}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>

                <ng-container matColumnDef="grade">
                    <th mat-header-cell *matHeaderCellDef> Grade </th>
                    <td mat-cell *matCellDef="let element"> {{element.grade}} </td>
                </ng-container>

                <ng-container matColumnDef="subject">
                    <th mat-header-cell *matHeaderCellDef> Subject </th>
                    <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
                </ng-container>

                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="chooseRow(row)" [class.row-clicked]="row.id === currentRowID"></tr>
                
               
            </table>
            <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
        </div>
        @if(showDetails){
        <div class="col-4 border">
            <h3>Details</h3>
            <form class="details d-flex justify-content start flex-column" [formGroup]="traineeForm" (ngSubmit)="saveTrainee()">
                <div class="d-flex align-items-center"><span class="column-name">Student id:</span><input type="text" formControlName="studentId" [ngClass]="{'fill':traineeForm.value.studentId}" required="true"></div>
                <div class="d-flex align-items-center"><span class="column-name">Name:</span> <input type="text" formControlName="name" required="true" [ngClass]="{'fill':traineeForm.value.name}"></div>
                <div class="d-flex align-items-center"><span class="column-name">Grade:</span> <input type="number" formControlName="grade" required="true" [ngClass]="{'fill':traineeForm.value.grade}"></div>
                <div class="d-flex align-items-center"><span class="column-name">Email:</span> <input type="text" formControlName="email"></div>
                <div class="d-flex align-items-center"><span class="column-name">Date:</span> <input type="date" formControlName="date" required="true" [ngClass]="{'fill':traineeForm.value.date}">
                </div>
                <div class="d-flex align-items-center"><span class="column-name">Address:</span> <input type="text" formControlName="address">
                </div>
                <div class="d-flex align-items-center"><span class="column-name">City:</span> <input type="text" formControlName="city"></div>
                <div class="d-flex align-items-center"><span class="column-name">Country:</span> <input type="text" formControlName="country">
                </div>
                <div class="d-flex align-items-center"><span class="column-name">Zip:</span> <input type="text" formControlName="zip"></div>
                <div class="d-flex align-items-center"><span class="column-name">Subject:</span> <input type="text" formControlName="subject" required="true" [ngClass]="{'fill':traineeForm.value.subject}">
                </div>
                <div class="d-flex justify-content-start">
                    <button mat-stroked-button>Save</button>
                    <button mat-stroked-button (click)="closeTrainee()">Close</button>
                </div>
            </form>
        </div>
        }
    </div>
</div>