<div class="analysis-wrapper container">
    <div class="row">
        <form [formGroup]="formanalysis">
            <div class="col-12">
                <mat-form-field>
                    <mat-label>IDs</mat-label>
                    <mat-select formControlName="IDs" multiple [(value)]="selectedIds">
                        @for (id of idsList; track id) {
                        <mat-option [value]="id"
                            (onSelectionChange)="displayIdChart();displayIdChart2()">{{id}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field>
                    <mat-label>Subject</mat-label>
                    <mat-select formControlName="subjects" multiple [(value)]="selectedSubject">
                        @for (id of subjectList; track id) {
                        <mat-option [value]="id" (onSelectionChange)="displaySubjectChart()">{{id}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </form>

    </div>


    <div class="row">
        <div id="div1" class="col-6" (drop)="drop($event)" (dragover)="allowDrop($event)">
            <h2>Grades avarege for each student</h2>
                <canvas baseChart [type]="'pie'" id="canva1" [datasets]="pieChartDatasets1" [labels]="pieChartLabels1"
                [options]="pieChartOptions1" [plugins]="pieChartPlugins1" [legend]="pieChartLegend1">
            </canvas>
            
            
        </div>
        
       
        <div  id="div2" class="col-6" (drop)="drop($event)" (dragover)="allowDrop($event)">
            <h2>Grades avareges per subject</h2>
            <canvas baseChart [type]="'pie'" id="canva2" [datasets]="pieChartDatasets3" [labels]="pieChartLabels3"
                [options]="pieChartOptions3" [plugins]="pieChartPlugins3" [legend]="pieChartLegend3">
            </canvas>
        </div>

    </div>
    


    <div class="row py-5 text-center">
        <div class="col-6" draggable="true" id="dragItem" (dragstart)="drag($event)">
            <h2 style="border:1px solid">Students avareges for students</h2>
            <canvas baseChart [type]="'pie'" id="canva3" [datasets]="pieChartDatasets2" [labels]="pieChartLabels2"
                [options]="pieChartOptions2" [plugins]="pieChartPlugins2" [legend]="pieChartLegend2" [hidden]="true">
            </canvas>
        </div>

        
    </div>
    
</div>