<header>
    <div class="d-flex align-items-center justify-content-between p-3 header-wrapper">
        <div class="btn-wrapper">
            <button mat-button color="primary" routerLink="./data" [routerLinkActive]="'active'">Data</button>
            <button mat-button color="primary" routerLink="./analysis" [routerLinkActive]="'active'">Analysis</button>
            <button mat-button color="primary" routerLink="./monitor" [routerLinkActive]="'active'">Monitor</button>
        </div>
    </div>
</header>