<header>
    <div class="d-flex align-items-center justify-content-between p-3 header-wrapper">
        <div class="btn-wrapper">
            <button mat-flat-button color="primary" routerLink="./data" [routerLinkActive]="'data'">Data</button>
            <button mat-flat-button color="primary" routerLink="./analysis" [routerLinkActive]="'analysis'">Analysis</button>
            <button mat-flat-button color="primary" routerLink="./monitor" [routerLinkActive]="'monitor'">Monitor</button>
        </div>
    </div>
</header>