header {
    .header-wrapper {
        background: #007c42;
        border-bottom: 1px dashed;
        button{
            color: white;
            &.active {
                color: rgb(0, 0, 0);
            }
        }
    }
}