:host {
    >.row {
        justify-content: center;
        display: flex;
        padding: 10px 0px;
    }

    mat-select,
    mat-form-field {
        max-width: 500px;
        width: 100%;
    }
    .belowAvg{
        background: rgb(212, 157, 157);
    }
    .aboveAvg{
        background: rgb(160, 196, 160);
    }
}