<div class="monitor-wrapper container">
    <div class="row">
        <div class="col-12">
            <mat-form-field>
                <mat-label>IDs</mat-label>
                <mat-select [formControl]="IDs" multiple>
                  @for (id of IDsList; track id) {
                    <mat-option [value]="id">{{id}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>     
        </div>
        <div class="col-12">
            <mat-form-field>
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="Names" [formControl]="names" required>
              </mat-form-field>
        </div>
        <div class="col-12">
            <section class="d-flex" [formGroup]="state">
                <p><mat-checkbox formControlName="passed" (change)="filterByCheckbox()">Passed</mat-checkbox></p>
                <p><mat-checkbox formControlName="failed" (change)="filterByCheckbox()">Failed</mat-checkbox></p>
              </section>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
          <table mat-table [dataSource]="uniqueDataSource" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="average">
                <th mat-header-cell *matHeaderCellDef> Average </th>
                <td mat-cell *matCellDef="let element"> {{element.average}} </td>
            </ng-container>

            <ng-container matColumnDef="exams">
                <th mat-header-cell *matHeaderCellDef> Exams </th>
                <td mat-cell *matCellDef="let element"> {{element.exams}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.aboveAvg]="row.average > 65" [class.belowAvg]="row.average <=65"></tr>
        </table>
        </div>
    </div>
</div>